<% layout('layouts/main') %>
<div class="container text-center py-5">
    <h1 class="display-1 fw-bold text-primary">404</h1>
    <p class="fs-3"> <span class="text-danger">¡Opps!</span> Página no encontrada.</p>
    <p class="lead">La ruta a la que intentas acceder no existe o fue movida.</p>
    <a href="/dashboard" class="btn btn-primary">Volver al Inicio</a>
</div>